/*
  Buttons
*/
.btn,
.wp-block-button__link {
	@apply inline-block px-4 py-2;
	@apply border border-transparent border-solid rounded-none;
	@apply bg-blue-500;
	@apply text-sm;
	@apply text-white;
	@apply no-underline;
	@apply uppercase shadow-md;
	cursor: pointer;
	transition: 0s;
}
.btn:hover,
.wp-block-button__link:hover {
	@apply bg-blue-700;
	@apply text-white border-white;
	text-decoration: none;
	transition: 0.25s;
}
.btn--green,
.wp-block-button__link.has-green-background-color {
	@apply bg-green-500;
}
.btn--green:hover,
.wp-block-button__link.has-green-background-color:hover {
	@apply bg-green-700;
}
.btn--loud,
.wp-block-button__link.has-orange-background-color {
	@apply bg-orange-500;
}
.btn--loud:hover,
.wp-block-button__link.has-orange-background-color:hover {
	@apply bg-orange-700;
}

.btn--small,
.is-style-small .wp-block-button__link {
	@apply px-2 py-1;
	@apply text-xs;
}

.btn--large,
.is-style-block .wp-block-button__link,
.is-style-large .wp-block-button__link {
	@apply px-6 py-4;
	@apply text-xl;
}

.btn--block,
.is-style-block,
.is-style-block .wp-block-button__link {
	display: block;
}

.btn--outline {
	@apply bg-transparent shadow-none;
	border-color: currentColor;
	text-shadow: initial;
}

.btn--outline:hover,
.is-style-outline .wp-block-button__link:hover {
	@apply bg-transparent;
	text-decoration: underline;
}
