.wp-block-quote {
	padding-top: 1.5rem;
	padding-right: 3rem;
	padding-bottom: 1.5rem;
	padding-left: 3rem;
	border-left-width: 4px;
	border-left-color: theme('colors.purple.400');
	background-color: theme('colors.gray.100');
}

.wp-block-quote p {
	font-family: theme('fontFamily.serif');
}
.wp-block-quote p:first-child {
	margin-top: 0;
}

.wp-block-quote cite {
	font-size: ;
}
