/* .has-light-color {
  color: theme("colors.light");
}
.has-dark-color {
  color: theme("colors.dark");
}
.has-purple-color {
  color: theme("colors.purple.500");
}
.has-orange-color {
  color: theme("colors.orange.500");
}
.has-lime-color {
  color: theme("colors.lime.500");
}

.has-light-background-color {
  background-color: theme("colors.light");
}
.has-dark-background-color {
  background-color: theme("colors.dark");
}
.has-purple-background-color {
  background-color: theme("colors.purple.500");
}
.has-orange-background-color {
  background-color: theme("colors.orange.500");
}
.has-lime-background-color {
  background-color: theme("colors.lime.500");
} */
