<!doctype html>
<html {{ site.language_attributes }}>

	{% include 'views/head.twig' %}

	<body class="{{ body_class }} font-sans text-gray-800">

		{% include 'views/header.twig' %}

			<main role="document">
			{% block content %}{% endblock %}
			</main>

		{% include 'views/footer.twig' %}

	</body>

</html>
