{% extends "views/base.twig" %}

{% block content %}

  <div class="py-16 text-white md:py-24 lg:py-48 bg-primary bg-brand">
    <div class="container">
      <div class="text-3xl font-hairline leading-tight text-center md:text-4xl lg:text-6xl font-display">
        Empowering Mission-Driven Organizations with Strategies for Creative Growth
      </div>
    </div>
  </div>

  {% for post in posts %}

    <div class="container my-8 prose lg:prose-lg">
      {{ post.content }}
    </div>

  {% endfor %}

{% endblock %}