/* Text meant only for screen readers. */
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  word-wrap: normal !important;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}
.screen-reader-text:focus {
  top: 5px;
  left: 5px;
  z-index: 100000; /* Above WP toolbar. */
  display: block;
  width: auto;
  height: auto;
  padding: 15px 23px 14px;
  color: #444;
  font-size: 1em;
  line-height: normal;
  text-decoration: none;
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
}
